.columMoneda {
    text-align: right;
}

.encabezado {
    text-align: center;
}

.columNum {
    text-align: center;
}

.columCategoria{
    text-align: center;
}

.columMarca{
    text-align: center;
}

.columUtilidad{
    text-align: center;
}

.centrarbotones {
    text-align: center;
}

.table {
    font-size: 13px;
    width: 100%;
    border-collapse: collapse;
    line-height: 27px;
    padding: 2px;
}
.table-responsive {
    text-align: center;
    align-items: center;
}

.table td:nth-child(1),
.table th:nth-child(1) {
    width: 5%;
    text-align: center;
    /* Porcentaje deseado para la tercera columna */
}

.table td:nth-child(2),
.table th:nth-child(2) {
    width: 5%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(3),
.table th:nth-child(3) {
    width: 5%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(4),
.table th:nth-child(4) {
    width: 6%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(5),
.table th:nth-child(5) {
    width: 28%;
    text-align: left;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(6),
.table th:nth-child(6) {
    width: 5%;
    align-items: center;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(7),
.table th:nth-child(7) {
    width: 5%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(8),
.table th:nth-child(8) {
    width: 5%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(9),
.table th:nth-child(9) {
    width: 5%;
    /* Porcentaje deseado para la cuarta columna */
}
.table td:nth-child(10),
.table th:nth-child(10) {
    width: 10%;
    /* Porcentaje deseado para la cuarta columna */
}

.btn {
    width: 58px;
    height: 26px;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    outline-color: dimgrey;
    outline-style:solid;
    outline-width: 1px;

}

.btn-warning{
    width: 60px;
    height: 35px;;
    padding: 1px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    outline-color: dimgrey;
    outline-style:solid;
    outline-width: 1px;

}

.btn-success{
    width: 60px;
    height: 35px;;
    padding: 1px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    outline-color: dimgrey;
    outline-style:solid;
    outline-width: 1px;

}
/* Ancho del botón */

#button-addon1 {
    height: auto;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

#button-addon2 {
    height: auto;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

#demo {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.93);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.93);
}
.encabezados{
    text-align: center;
}

.form-control-outline {
    width: 400px;
    border: 1px solid dimgrey; /* Color del contorno */
    padding: 0.375rem 0.75rem; /* Ajusta el relleno según sea necesario */
    border-radius: 7px; /* Ajusta el radio de borde según sea necesario */
}