.col-12 {
    text-align: justify;
}

.imagen-svg {
    width: 100px;
    /* Ajusta el ancho según tus necesidades */
    height: auto;
    /* Mantiene la proporción de aspecto */
}

body {
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /*background-size: cover;*/
}