<div class="container">
    <div class="alert alert-primary rounded-0" role="alert">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th scope="row" colspan="4" class="text-center">CARRITO</th>
                </tr>
                <tr>
                    <th scope="col" class="text-center" style="width: 70%;">DESCRIPCION</th>
                    <th scope="col" class="text-center" style="width: 10%;">PRECIO</th>
                    <th scope="col" class="text-center" style="width: 20%;">CANTIDAD</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carrito.items %} {% for key, value in request.session.carrito.items %}
                <tr>
                    <td style="font-size: 10px;">{{value.nombre}}</td>
                    <td style="font-size: 10px; text-align: right;">{{value.acumulado}}</td>
                    <td class="centrarbotonesCarro">
                        <div class="row">
                            <div class="col" style="font-size: 10px;" class="text-center">
                                {{value.cantidad}}
                            </div>
                            <div class="col">
                                <div class="btn-group ">
                                    <a href="{% url 'Add' id=value.producto_id %} " class="btn btn-dark btn-primary ">+</a>
                                    <a href="{% url 'Sub' id=value.producto_id %} " class="btn btn-dark btn-primary ">-</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td colspan="3 ">
                        <div class="alert alert-danger text-center "> Sin Productos </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row ">Total:</th>
                    <td colspan="2 " class="text-center" style="font-size: 12px;">$ {{total_carrito}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="row text-center ">
            <div class="col-6 "><a href="{% url 'CLS' %} " class="btn btn-danger ">LIMPIAR</a></div>
            <div class="col-6 "><a href="{% url 'guardar' totalCarrito=total_carrito %} " class="btn btn-success ">GUARDAR</a></div>
        </div>
    </div>
</div>