<div class="alert alert-primary rounded-0" role="alert">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="row" colspan="3" class="text-center">CARRITO</th>
            </tr>
            <tr>
                <th scope="col">DESCRIPCION</th>
                <th scope="col" class="carroHeaderPrecio">PRECIO</th>
                <th scope="col" class="text-center">CANTIDAD</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito.items %} {% for key, value in request.session.carrito.items %}
            <tr>
                <td class="colDescripcion">{{value.nombre}}</td>
                <td class="columNum">{{value.acumulado}}</td>
                <td class="centrarbotonesCarro">
                    <div class="btn-group">
                        <a href="{% url 'Add' id=value.producto_id %}" class="btn btn-dark btn-primary">+</a>
                        <a href="{% url 'Sub' id=value.producto_id %}" class="btn btn-dark btn-secondary">-</a>
                    </div>
                </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center"> Sin Productos </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Total:</th>
                <td colspan="2">$ {{total_carrito}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="row text-center">
        <div class="col-4"><a href="{% url 'CLS' %}" class="btn btn-danger">LIMPIAR</a></div>
        <div class="col-4"><a href="{% url 'impresion' %}" class="btn btn-success">GUARDAR</a></div>
        <div class="col-4"><a href="{% url 'impresion' %}" class="btn btn-success">IMPRIMIR</a></div>
    </div>
</div>