{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/stock.css' %}">



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="">
                <!--<button class="btn btn-success" type="submit">BUSCAR</button> <input type="text" name="buscar" id="buscar">-->
                <div class="input-group mb-3 custom-width">
                    <a class="btn btn-success" href="{% url 'nuevo' %}">NUEVO</a>
                    <a class="btn btn-secondary" href="{% url 'buscar' %}" id="button-addon1" >BUSCAR</a>
                    <form  method="POST" action="{% url 'buscar' %}">
                        <!--<button class="btn btn-secondary" type="submit" id="button-addon1">BUSCAR</button>-->
                        {%csrf_token%}
                        {{ form.as_p }}
                        <!--<button class="btn btn-secondary" type="submit" id="button-addon1">BUSCAR</button>
                        <input type="text" class="form-control" placeholder="Ingrese el Item a Buscar" aria-label="Example text with button addon" aria-describedby="button-addon1" name="buscar" id="buscar">-->
                    </form>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form action="" method="POST">
                <div class="input-group mb-3 custom-width2">
                    <button class="btn btn-secondary" type="submit" id="button-addon2">FILTRO</button>
                    <select name="catNombre" id="id_categoria" class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                        <option selected>Seleccionar la Categoria</option>
                        {% for catnombre in catnombre %}
                        <option value=''></option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive"> 
        <form action="">
            {%csrf_token%}
            <table id="tabla" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="encabezados">
                        <th scope="col">ID</th>
                        <th scope="col">CATEG</th>
                        <th scope="col">MARCA</th>
                        <th scope="col">CODIGO</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">P COSTO</th>
                        <th scope="col">UTLIDAD</th>
                        <th scope="col">P VENTA</th>
                        <th scope="col">ACCIONES</th>
                        <!-- Agrega más columnas según las propiedades de tu modelo Producto -->
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr class="contenido">
                            <td scope="row" class="columNum">{{ producto.id }}</td>
                            <td class="columCategoria">{{ producto.categoria.catNom }}</td>
                            <td class="columMarca">{{ producto.marca.marcaNom }}</td>
                            <td class="columNum">{{ producto.codigo }}</td>
                            <td class="columDescripcion">{{ producto.descripcion }}</td>
                            <td class="columNum">{{ producto.cantidad }}</td>
                            <td class="columMoneda">${{ producto.precioCosto }}</td>
                            <td class="columUtilidad">{{ producto.utilidad.utilDescripcion}}</td>
                            <td class="columMoneda">${{ producto.precioPublico}}</td>
                            <td class="centrarbotones">
                                <div>   
                                    <a class="btn btn-primary btn-sm " href="{% url 'actualizar' id=producto.id %}">EDITAR</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'eliminar' id=producto.id %}">ELIMINAR</a>
                                </div>
                            </td>
                            <!-- Agrega más celdas según las propiedades de tu modelo Producto -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}